body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 900px;
}

h1, h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  text-align: center;
  color: white;
  background-color: #007BFF;
  padding: 10px;
  border-radius: 4px;
}

.section {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input, select, button {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1em;
  margin-top: 20px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  background-color: #28a745;
}

#totalPercibir {
  color: white;
  background-color: #007BFF;
  padding: 5px;
  border-radius: 4px;
}

#imprimir {
  display: none;
}

  